/* D.Rehan Code */


/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Header Style One / Header Style Two
4. Main Footer

**********************************************/

@import url('../css/font-awesome.css');
@import url('../css/animate.css');
@import url('../css/jquery-ui.css');
@import url('../css/owl.carousel.min.css');
@import url('../css/owl.theme.default.min.css');
@import url('../css/jquery.fancybox.css');

/* 
@import url('ionicons.css');
@import url('elegend-icons-style.css'); */


/*Font*/

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}


/***

====================================================================
	Reset
====================================================================

 ***/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/***

====================================================================
	Global Settings
====================================================================

 ***/

$global_main_color: #b91a3b;
$global_second_color: #1A2E35;
$global_light_color: #EDF1F7;
$global_yellow_color: #F8B95F;
$global_bg_color: #ededed;
$white-bg: #fff;
$global_bg_image :url('../images/bg-main.jpg');
$global_section_big_padding :100px 0px;
$global_section_medium_padding :70px 0px;
$global_section_small_padding :50px 0px;
$global_section_small_padding :50px 0px;
$border-radius-10 :10px;
$box-shadow-1 :0px 0px 21px #c7c7c796;
$global_p_size: 14px;
// .second-class{
//     @extend .first-class; border-color:#FFF; 
// } 
body {
    font-size: $global_p_size;
    color: $global_main_color;
    line-height: 1.8em;
    font-weight: 400;
    font-family: 'montserrat';
    background: $global_bg_image;
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-size: $global_p_size;
}

a {
    /* text-decoration:none; */
    cursor: pointer;
    color: $global_main_color;
    webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    &:hover,
    &:focus {
        cursor: pointer;
        color: $global_second_color;
    }
}

.btn-main {
    background: $global_main_color;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 8px 50px;
    color: $white-bg;
    display: inline-block;
    text-align: center;
    webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: none;
        background: $global_second_color;
        color: $white-bg;
    }
    &.has_icon_bill {
        background-image: url('../images/svg/reception-bell.svg');
        background-repeat: no-repeat;
        background-position: center 10px;
        background-size: 22px;
        width: 100%;
        padding: 38px 50px 11px;
    }
}

.btn-main-radius {
    background: $global_main_color;
    border-radius: 100px;
    letter-spacing: 1px;
    padding: 8px 50px;
    color: $white-bg;
    display: inline-block;
    text-align: center;
    webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: none;
        background: $global_second_color;
        color: $white-bg;
    }
}

.btn-main-radius-without-bg {
    background: $white-bg;
    color: $global_main_color;
    border-radius: 100px;
    letter-spacing: 1px;
    padding: 8px 50px;
    display: inline-block;
    border: 2px solid $global_main_color;
    ;
    text-align: center;
    webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: none;
        background: $global_main_color;
        color: $white-bg;
    }
    &.active {
        background: $global_main_color;
        color: $white-bg;
    }
}

.section-padding {
    padding: $global_section_big_padding;
}

.section-padding-medium {
    padding: $global_section_medium_padding;
}

.section-padding-small {
    padding: $global_section_small_padding;
}

.sec-title {
    color: $global_second_color;
    text-transform: capitalize;
    .pretitle {
        font-size: 1.4rem;
        line-height: 1rem;
        color: $global_main_color;
    }
    .title {
        font-size: 2.5rem;
        line-height: initial;
        padding: 18px 0px 20px;
        span {}
    }
}

.lang-btn-holder {
    margin: 5px 0px 50px 0px;
    .btn-main-radius-without-bg {
        margin-right: 20px;
    }
    .avtive {}
}


/*============= ORder BTN =============*/

.no-order-icon {
    position: relative;
    .order-bg-icon {
        background-image: url('../images/svg/order-signboard.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
    }
    .order-digits {
        position: absolute;
        top: 10px;
        left: 16px;
        text-align: center;
        background-color: $global_main_color;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0px;
        color: #FFF;
        font-size: 12px;
    }
    span {
        position: absolute;
        top: 12px;
        left: 55px;
    }
}


/*============= Message Block =============*/

.message {
    color: $global_second_color;
    padding: 5px 10px;
    text-align: center;
    .message-title {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .btn-main {}
}


/*============= MAxima L logo Holder =============*/

.maximablock {
    color: $global_second_color;
    text-align: center;
    margin-top: 80px;
    p {
        font-size: 1rem;
    }
    .qr-code-holder {
        width: 100px;
        display: inline-block;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }
    .logo-holder {
        width: 200px;
        display: inline-block;
        img {
            width: 100%;
        }
    }
}


/*============= MAxima logo Holder  End=============*/


/*============= Main logo Holder =============*/

.logo-block-holder {
    color: $global_second_color;
    p {}
    .logo-image-holder {
        padding-bottom: 20px;
        img {
            max-width: 100%;
        }
    }
}


/*============= Main logo Holder EnD =============*/


/*============= PAGE : SIMPLE PAGE : START :  Rehan =============*/

.page {
    .sec-title {
        .pretitle {}
        .title {
            span {}
        }
    }
    .logo-block-holder {
        p {}
        .logo-image-holder {
            img {}
        }
    }
}

.page-body {
    color: $global_second_color;
    font-size: 1rem;
    padding: 30px 0px;
    p {
        color: $global_second_color;
        font-size: 1rem;
    }
}


/*============= PAGE : SIMPLE PAGE : END : Rehan =============*/


/*============= Product Category Start : Rehan =============*/

.product-categroy {
    .product-category-title {
        color: $global_second_color;
        font-size: 2rem;
    }
    .product-categroy-holder {
        margin: 0px 0px 20px 0px;
        .category-products-holder {
            color: $global_second_color;
            .category-single-product {
                margin: 0px 20px 20px 0px;
                border-radius: $border-radius-10;
                background: $white-bg;
                text-align: center;
                width: 170px;
                display: inline-block;
                box-shadow: $box-shadow-1;
                img {
                    max-width: 90%;
                    border-radius: 10px;
                }
                p {
                    color: $global_second_color;
                    padding: 10px 0px 10px;
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}


/*============= Product Category END : Rehan =============*/


/*============= Product Single Start : Rehan =============*/

.single-product {
    color: $global_second_color;
    padding: 0px 20% 100px 20%;
    .single-product-holder {
        background: $white-bg;
        border-radius: $border-radius-10;
        box-shadow: $box-shadow-1;
        position: relative;
        .single-product-image-holder {
            img {
                position: absolute;
                top: -7%;
                left: 0%;
                width: 100%;
            }
        }
    }
    .single-product-body {
        padding: 50px 0px;
        color: $global_second_color;
        .single-product-title {
            color: $global_second_color;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p {
            color: $global_second_color;
        }
        ul {
            margin-bottom: 2rem;
            li {
                padding: 0px;
                margin: 0px;
                list-style: none;
                border-bottom: 1px solid $global_light_color;
                padding: 5px 0px;
                /* pretty radio */
                label {
                    width: 90%;
                    &:hover,
                    &:focus {
                        cursor: pointer;
                    }
                }
                label>input[type="radio"] {
                    display: none;
                    width: 90%;
                }
                label>input[type="radio"]+*::before {
                    content: "";
                    display: inline-block;
                    vertical-align: bottom;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 0.3rem;
                    border-radius: 50%;
                    // border-style: solid;
                    border-width: 0.1rem;
                    border: 1px solid $global_light_color;
                    position: absolute;
                    right: 0;
                }
                label>input[type="radio"]:checked+* {
                    color: $global_yellow_color;
                }
                label>input[type="radio"]:checked+*::before {
                    background: radial-gradient($global_yellow_color 0%, $global_yellow_color 40%, transparent 50%, transparent);
                    box-shadow: $box-shadow-1;
                }
                /* basic layout */
                label>input[type="radio"]+* {
                    display: inline-block;
                    padding: 0rem 0rem;
                    width: 100%;
                    position: relative;
                }
                // .radio-text{
                //     display: inline-block;
                //     width: 75%;
                // }
                // .input-holder{
                //     display: inline-block;
                //     width: 20%;
                //     text-align: right; 
                // }
            }
        }
    }
}


/*============= Product Single END : Rehan =============*/


/*============= Product Category Start : Rehan =============*/

.product-category {
    color: $global_second_color;
    .product-category-holder {
        background: $white-bg;
        border-radius: $border-radius-10;
        box-shadow: $box-shadow-1;
        position: relative;
        margin: 0px 0px 50px;
        img {
            position: absolute;
            bottom: 5px;
            left: -7%;
            width: 63%;
        }
    }
    .product-category-body {
        padding: 97px 0px 60px;
        color: $global_second_color;
        .product-category-title {
            color: $global_second_color;
            text-align: right;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
}


/*============= Product Category END : Rehan =============*/


/*============= Product Category Start : Rehan =============*/

<<<<<<< HEAD
.product-category-2 {
    color: $global_second_color;
    padding-top: 0px;
    .product-category-holder-2 {
        webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
        img {
=======


.product-category-2{ 
    color: $global_second_color;padding-top: 0px;

    
    .product-category-holder-2{ 
        webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
          
          img{
>>>>>>> cc8f7dc89983c2be5ef38ab2f4fcd0be696b041f
            max-width: 80%;
        }
        .white-bg {
            position: absolute;
            bottom: 9%;
            left: 40px;
            width: 91%;
            background: $white-bg;
            height: 80%;
            z-index: -1;
            border-radius: 10px;
        }
        .product-category-title-2 {
            position: absolute;
            bottom: 2%;
            right: 1%;
            width: 36%;
            z-index: -1;
            color: $global_second_color;
            text-align: right;
            font-size: 18px;
            margin-bottom: 1rem;
            height: 100px;
            overflow: hidden;
        }
        &:hover {
            cursor: pointer;
            transform: scale(0.9);
        }
    }
}


/*============= Product Category END : Rehan =============*/


/*============= Footer : START :  Rehan =============*/

.main-footer {
    text-align: center;
    .container {
        border-top: 1px solid $global_second_color;
        padding: 20px 0px 0px;
        .copyright {
            p {
                a {
                    color: $global_main_color;
                    &:hover,
                    &:focus {
                        cursor: pointer;
                        color: $global_second_color;
                    }
                }
            }
        }
    }
}


/*============= FOOTER : END : Rehan =============*/


<<<<<<< HEAD
/* D.Wakas Code */

$global_colorfull_bg: #B71E3E;
$global_colorfull_border: 1px solid #707070;
$global_white_bg: #FFFFFF;
$global_white_border: 1px solid #B71E3E;
$global_title_blackfont: #1A2E35;
$global_title_colorfullfont: #B71E3E;
$global_color_black: #000000;
$global_color_white: #FFFFFF;
$global_full_width:100%;
$global_padding:10px 0;
$global_h1_title:38px;
$global_h2_title:28px;
$global_h3_title:22px;
$global_h4_title:18px;
$global_h5_title:16px;
$global_h6_title:14px;
$global_p_txt:16px;
$global_item_list_txt_color:#1A2E35;
.default-color-full-btn {
    background-color: $global_colorfull_bg;
    padding: $global_padding;
    text-align: center;
    border-radius: 30px;
    border: $global_colorfull_border;
}

.default-color-full-btn a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.default-txt-color {
        color: $global_color_white;
    }
}

// HEAD .background-image {
//     @extend body;
//     background-image: url('../images/bg-main.jpg');
//     height: 100vh;
// }
.btn {
    background-color: $global_colorfull_bg;
    color: $global_color_white;
}

// .section-padding{
//     padding:$global_padding;
// }
.home-top-bar {}

.home-top-bar .main-title {
    color: $global_title_blackfont;
}

.home-top-bar .main-title h1 {
    font-size: $global_h1_title;
    padding-top: 1rem;
}

.home-top-bar .pre-title {
    color: $global_title_colorfullfont;
}

.home-top-bar .pre-title h3 {
    font-size: $global_h3_title;
    padding-top: 3.5rem;
}

.home-top-bar .top-bar-btn {}

.home-top-bar .top-bar-btn .eng-btn {
    background-color: $global_colorfull_bg;
    padding: $global_padding;
    text-align: center;
    border-radius: 30px;
    border: $global_colorfull_border;
}

.home-top-bar .top-bar-btn .ar-btn {
    background-color: $global_white_bg;
    padding: $global_padding;
    text-align: center;
    border-radius: 30px;
    border: $global_white_border;
}

.home-top-bar .top-bar-btn .eng-btn a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.eng-btn-title {
        color: $global_color_white;
    }
}

.home-top-bar .top-bar-btn .ar-btn a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.ar-btn-title {
        color: $global_title_colorfullfont;
    }
}

.home-top-bar .top-bar-btn .no-order-icon {
    position: relative;
}

.home-top-bar .top-bar-btn .no-order-icon .order-bg-icon {
    background-image: url('../images/svg/order-signboard.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.home-top-bar .top-bar-btn .no-order-icon .order-digits {
    position: absolute;
    top: 10px;
    left: 16px;
    text-align: center;
    background-color: $global_colorfull_bg;
    border-radius: $global_full_width;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    color: #FFF;
    font-size: 12px;
}

.home-top-bar .top-bar-btn .no-order-icon span {
    position: absolute;
    top: 12px;
    left: 55px;
}

.home-top-bar .bg-logo {
    background-image: url('../images/svg/logo.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: $global_full_width;
    height: 83px;
}

.home-top-bar .logo-txt {}

.home-top-bar .logo-txt p {
    font-size: 12px;
}

.home-top-bar .reception-bill {
    background-color: $global_colorfull_bg;
    text-align: center;
    border-radius: 10px;
    border: $global_colorfull_border;
}

.home-top-bar .reception-bill .bill-bg-icon {
    background-image: url('../images/svg/reception-bell.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 100%;
    height: 25px;
}

.home-top-bar .reception-bill h6 {
    font-size: $global_h6_title;
    color: $global_color_white;
    margin-bottom: 3px;
}

// 9672e053fce9d31a821d61e1bd6b4d2916ee8a80 // item slider code start
.home-item-slider .slider-boxs {
    width: $global_full_width;
    height: 280px;
    background-color: $global_white_bg;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
    margin-top: 70px;
}

.home-item-slider .slider-boxs .item-image {
    position: absolute;
    left: 0;
    top: 22px;
}

.home-item-slider .slider-boxs .item-image img {
    width: 100%;
    height: 350px;
}

.home-item-slider .slider-boxs .box-item-name {
    position: absolute;
    bottom: 100px;
    right: 22px;
}

.home-item-slider .slider-boxs .box-item-name h3 {
    color: $global_item_list_txt_color;
    font-size: $global_h3_title;
}

.slider-boxs .box-select-item-btn {
    position: absolute;
    bottom: 45px;
    right: 30px;
    width: 45%;
    display: none;
}

.slider-boxs .box-select-item-btn.active {
    display: block;
}

.slider-boxs .box-select-item-btn .select-btn {}

// item slider code end
// slider code start from here

/*.horizental-slider{
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}
.horizental-slider::-webkit-scrollbar{
    display: none;
}
// for ms
.horizental-slider{
    -moz-overflow: hidden;
    -ms-overflow: hidden;
}

.slider-container{
    display: block;
    white-space: nowrap;
}
.item{
    display: inline-block;
    margin-right: 10px;
}
.item img{
    width: 120px;
    height: 225px;
    object-fit: cover;
}
*/

// .dummy{
//     -webkit-column-count: 3;
//     -webkit-column-gap: 0px;
//     -moz-column-count: 3;
//     -moz-column-gap: 0px;
//     column-count: 3;
//     column-gap: 0px;
// }
.home-item-box-horizental {
    margin-top: 50px;
    background: #eee;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 30px;
}

.home-item-box-horizental .item {
    background: #FFF;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.home-item-box-horizental .item .home-item-img-holder {
    display: inline-block;
}

.home-item-box-horizental .item .home-item-img-holder img {
    width: 100%;
    height: 300px;
}

.home-item-box-horizental .item .home-item-title {
    display: inline-block;
}

.home-item-box-horizental .item .home-item-title h3 {
    display: inline-block;
}

.categroy-sugar-type {
    .sugar-type-title {
        text-align: center;
    }
    .sugar-type-img-holder {
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
        .sugar-btn {
            background-color: #F8B95F;
        }
    }
}
=======

/*============= Wakas : Code =============*/
>>>>>>> cc8f7dc89983c2be5ef38ab2f4fcd0be696b041f
