@media (max-width: 992px) {

	




	body {
		
	}
	
	
	
	
	h1,h2,h3,h4,h5,h6 {
		 
	}
	
	
	.h1, h1, h2,h3,.h2,.h3 {
		 font-size: 22px;
		 padding-bottom: 4px;
		 padding-top: 25px;
	}
	
	 
	
	input,button,select,textarea{
	
	}
	
	p,
	.text{
		 font-size: 14px;
		 line-height: 22px;
	}
	
	.strike-through{
		 
	}
	
	.auto-container{
		 
	}
	
	 
	
	.page-wrapper{
		 
	}
	
	ul,li{
	 
	}
	
	.theme-btn{
	 
	}
	
	 
	 
	
	.curve-bg{ }
	.curve-bg::before{ }
	
	
	
	
	.section-padding{padding: 70px 0px;}
	.section-padding-small{ padding:30px 0px;}
	
	
	
	
	
	/*Sec Title*/
	.sec-title h2{
		font-size: 24px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	
	.sec-title h2:before{
		/* content:''; */
		left: 1px;
		top: 0;
		height: 5px;
	}
	
	
	
	
	
	.sec-title.white-title h2{
		color: #fff; 
	}
	
	.sec-title.white-title h2:before{
		background:url('../images/header-bar-white.svg');
	}
	
	
	
	.sec-title.big-title h2{font-size: 19px;padding-bottom: 4px;padding-top: 16px;}
	
	
	
	.sec-title h2.pretitle{
		font-size: 18px;
		padding-bottom: 6px;
	}
	.sec-title h2.pretitle:before{
		display: none;
	}
	
	/*Btn Style One*/
	
	.btn-style-one{
		padding: 7px 20px;
		font-size: 15px;
	}
	
	.btn-style-one:hover{
		 
	}
	
	/*Btn Style Two*/
	
	.btn-style-two{ 
	}
	
	.btn-style-two:hover{
	 
	}
	
	
	.video-holder{
	 
	}
	.video-holder iframe{
		 
	}
	
	
	/*Btn Style Three*/
	
	.btn-style-three{
		 
	}
	
	.btn-style-three:hover{
		 
	}
	
	/*Btn Style Four*/
	
	.btn-style-four{
		 	}
	
	.btn-style-four:hover{
		 
	}
	
	.theme_color{
		 
	}
	
	
	.read-more{
		 font-size: 14px;
		 border-bottom: 2px solid #80c343;
	}
	.read-more:hover,
	.read-more:focus{
	 
	}
	
	.preloader{
		 }
	
	
		 .preloader .svg_image{
			width: 70px;
			height: 70px;
			top: 45vh;
			left: 38%;
			}
	 
	
	
	.image-holder{
		padding: 0px 0px;
		border-radius: 5px;
	}
	.image-holder img{
		/* margin-top: 20px; */
		border-radius: 10px;
	}
	
	
	
		/******************************** Top Bar  SECTION *****************************************************/
		
		.top-bar{
			height: auto;
			background: #127CB6;
			color: #fff;
			text-align: center;
			padding: 10px 0px;
		}
		.top-bar p{margin-bottom: 0px;font-size: 12px;font-weight: 300;}
		.top-bar p a{
			font-size: 12px;
		}
		.top-bar p a:hover,
		.top-bar p a:focus{
			background: #fff;
			color: #137cb6;
		}
		
		
		
		/******************************** header  SECTION *****************************************************/
		.main-header{
			padding: 5px;
			top: 44px;
			position: absolute;
		}
		
		.main-header.bg-dark{
			background-color: #00000075!important;
		}
		.main-header .navbar-dark{
			padding: .5rem 0rem;
		}
		
		
		
		
		.main-header.bg-light{
			background-color: #ffffff!important;
			/* border-bottom: 1px solid #efefef; */
		}
		.main-header .navbar-light{}
		
		
		.main-header .logo{}
		.main-header .logo .header-logo{
			width: 180px;
		}
		
		
		
		.main-header ul{}
		.main-header ul li{}
		.main-header ul li a{
			font-size: 16px;
			/* border: 1px solid; */
			margin: 0px 20px;
			color: #fff !important;
			padding-right: 0px !important;
			padding-left: 0px !important;
			text-transform: uppercase;
			font-family: 'montserrat-medium';
		}
		.main-header ul li.active a{/* border-bottom: 2px solid #80c343; */color: #8AC343 !important;}
		.main-header ul li  a:hover,
		.main-header ul li  a:focus{/* border-bottom: 2px solid #80c343; */cursor: pointer;color: #8AC343 !important;}
		
		
		
		
		
		.main-header.bg-light  ul li a{
			color: #000 !important;
		}
		.main-header.bg-light  ul li.active a{color: #8AC343 !important;}
		.main-header.bg-light  ul li  a:hover,
		.main-header.bg-light  ul li  a:focus{color: #8AC343 !important;}
		
		
		
		
		.dropdown{}
		.dropdown .dropdown-menu{
			/* width: 100%; */
			padding: 11px 21px 10px 17px;
			border-radius: 0px;
		}
		.dropdown .dropdown-menu .dropdown-item{color: #000 !important;margin: 0px;border-bottom: 1px solid #efefef;font-size: 14px;}
		
		.dropdown .dropdown-menu .dropdown-item:hover,
		.dropdown .dropdown-menu .dropdown-item:focus{
			margin: 0px 0px;
			/* border-bottom: 1px solid #efefef; */
			background: transparent;
		}
		
		/******************************** Banner  SECTION *****************************************************/
		
		
		.carousel{ position: relative;}
		.btn-scroll{position: absolute;bottom: 13%;left: 74%;color:#fff;}
		
		.btn-scroll:hover,
		.btn-scroll:focus{
			transform: rotate(-90deg) scale(1.1);
			color: #fff;
			cursor: pointer;
			text-decoration: none;
		}
		.btn-scroll i{}
		
				
		 .carousel,
		 .carousel-item,
		 .active {
			 height: 100%;
			}
		 
		 .carousel-inner {
			 height: 500px;
			}
		 
		 .flex-center {
			 color: #fff;
		 }
		 
		 .carousel-caption {
			 height: 220px;
			 /* border: 1px solid; */
			 top: 30%;
			 text-align: left;
			 left: 12%;
			}
		
		.carousel-caption .banner-h1{
			line-height: initial;
			padding-bottom: 15px;
			padding-top: 0px;
			font-size: 32px;
			margin-bottom: 21px;
		}
		
		.carousel-caption .banner-h1::before{
			content:'';
		}
		
		.carousel-caption .banner-p{
			font-size: 20px;
		}	
	
	
	
	
	
	
	/******************************** Intro  SECTION *****************************************************/
	
	.intro-section{position:relative;z-index: 0;overflow: hidden;}
	.intro-section::before{position: absolute;content: '';background :url('../images/gray-bg.jpg');z-index: -1;width: 100%;height: 100%;top: 0;background-size: cover;right: -500px;opacity: 0.3;}
	.intro-section .image-holder img{
		margin-top: 60px;
	}
	.intro-section p{
		margin-bottom: 8px;
		font-family: 'montserrat';
		font-size: 14px;
	}
	
	
	
	.intro-section .btn-style-one{margin-top: 10px;}
	
		
		




/******************************** Venture SECTION *****************************************************/

.venture-parent{background-size: cover;}

.venture-section{}

.venture-section::before{bottom: -3%;right: 0px;width: 100%;transform: rotate(183deg);}

.venture-section .btn-style-one{
    margin-top: 0px;
}

.venture-section .venture-blocks-row{
    margin-top: 0px;
    margin-bottom: 40px;
}
.venture-section .venture-blocks-row .venture-blocks-colum{}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder{
    margin: 0px 0px 31px 0px;
    padding: 7px 0px;
    border: 3px solid #fff;
}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder .venture-blocks-title{
    font-size: 15px;
    line-height: initial;
    padding: 0px 0px 2px;
}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder .venture-blocks-number{
    font-size: 25px;
    line-height: initial;
    padding: 4px 0px 6px;
}





.bends-before-section{ }
.bends-section{
    background-size: cover;
    padding: 0px 0px 240px;
}
	.bends-section::after{
    height: 150px;
}



/******************************** NEWS SECTION *****************************************************/

.news-section{}
.news-section .news-row{}
.news-section .news-row .news-colum{padding: 0px 3%;margin-bottom: 30px;border-right: 1px solid #d8d4d4;}

.news-section .news-row .news-colum:last-child{ 
}

.news-section .news-row .news-image-holder{
    padding: 67px 0px;
}

.news-section .news-body{padding: 23px 5% 20px 6%;border-bottom: 0px solid #cecbcb;}
.news-section .news-body .news-date{padding: 2px 7px;font-size: 13px;}
.news-section .news-body .news-title{font-size: 14px;margin: 10px 0px 8px 0px;padding: 0px 0px;}

.news-section .news-body .news-title::before{
	 width: 2px;
	 height: 100%;
	 left: -8%;
	 top: 8%;
	 }

.news-section .news-body .news-text{font-size: 12px;line-height: initial;padding: 0px 0px 5px;}

.news-section .news-body .news-readmore-holder{ 
}
.news-section .news-body .news-readmore-holder .read-more{ 
}
.news-section .news-body .news-readmore-holder .read-more:hover,
.news-section .news-body .news-readmore-holder .read-more:focus{}


	


/******************************** Partner *****************************************************/

.partner-section{
    overflow: hidden;
}
.partner-section .sec-title{}
.partner-section .sec-title h2{font-size: 24px;padding-bottom: 10px;padding-top: 15px;}

.partner-section .partner-row{ }

.partner-section .partner-row .patner-colum{ }




.partner-section .partner-row .patner-colum .patner-logo-holder{padding: 50px 20px;}


	
.partner-section .partner-row .patner-colum:last-child .patner-logo-holder { }



.partner-section .partner-row .patner-colum:last-child .patner-logo-holder::before{ }
.partner-section .partner-row .patner-colum:last-child .patner-logo-holder::after{ }


.partner-section .partner-row .patner-colum:first-child .patner-logo-holder::before{}
.partner-section .partner-row .patner-colum:first-child .patner-logo-holder::after{ }

	.partner-section .partner-row .patner-colum .patner-logo-holder .before{ }
	


	.partner-section .partner-row .patner-colum .patner-logo-holder .after{ }

.partner-section .partner-row .patner-colum .patner-logo-holder img{ }







/******************************** Footer *****************************************************/

.main-footer{
	padding: 50px 0px 0px;
}
.main-footer .footer-colum{
    padding-bottom: 30px;
    padding: 0px 0px 30px 15px;
}
.main-footer .footer-colum .footer-colum-title{margin-top: 30px;font-size: 14px;}

.main-footer .footer-colum .footer-logo{}
.main-footer .footer-colum .footer-logo img{width: 140px;margin-top: 12px;}


.main-footer .footer-colum .address_ul{padding-right: 0px;}
.main-footer .footer-colum .address_ul li{ 
}
.main-footer .footer-colum .address_ul li span{font-size: 13px;}
.main-footer .footer-colum .address_ul li a{font-size: 13px;}


.main-footer .footer-colum .simple-list-ul{margin-top: 8px;}
.main-footer .footer-colum .simple-list-ul li{display: inline-block;/* border-right: 1px solid; *//* padding-right: 10px; */line-height: initial;}
.main-footer .footer-colum .simple-list-ul li a{border-right: none;padding-right: 10px;} 



.main-footer .footer-colum .simple-list-ul li:last-child a{ border-right: 0px solid;}


.main-footer .footer-colum .social-link{ 
}
.main-footer .footer-colum .social-link ul{
}
.main-footer .footer-colum .social-link ul li{}

.main-footer .footer-colum .social-link ul li a{}
.main-footer .footer-colum .social-link ul li a i{
    padding: 0px 10px 0px 0px;
    font-size: 22px;
} 



.main-footer .copyright{
    margin-top: 14px;
    padding-bottom: 10px;
} 
.main-footer .copyright p{
    padding: 22px 0px 0px;
    font-size: 13px;
    line-height: 12px;
}
.main-footer .copyright p a{
} 







/******************************** Inner Page HEader*****************************************************/

.inner-page{padding: 140px 0px 70px;}

.inner-page::before
{ }

.inner-page.inner-page-white{ }
.inner-page.inner-page-white::before{ }


/*Sec Title*/
.inner-page .sec-title h2{ }

.inner-page .sec-title h2:before{ }


.inner-page .sec-title.big-title h2{font-size: 28px;}

.inner-page .sec-title h2.pretitle{font-size: 18px;padding-bottom: 0px;}
.inner-page .sec-title h2.pretitle:before{ }







/********************************  Paralex Section *****************************************************/

.paralex-image-section{
    padding: 0px;
    margin-bottom: 11%;
}

.paralex-image-section .paralex-block{
    min-height: 430px;
    background-position: center !important;
}


.paralex-image-section .paralex-block .sec-title{
    left: 4%;
    background: #2aa9d5;
    padding: 20px 30px;
    width: 63%;
    bottom: -429px;
}
.paralex-image-section .paralex-block .sec-title h2{
    padding-bottom: 8px;
    padding-top: 6px;
    font-size: 18px;
}
.paralex-image-section .paralex-block .sec-title p{
    font-size: 23px;
}





/********************************  Our Assets Section *****************************************************/


.our-assets-section {}
.our-assets-section .our-assets-row{}
.our-assets-section .our-assets-row .our-assets-colum{}


.our-assets-section .our-assets-row .our-assets-colum .sec-title{}
.our-assets-section .our-assets-row .our-assets-colum .sec-title h2{
    padding-top: 15px;
    /* margin-bottom: 5px; */
}

.our-assets-section .our-assets-row .our-assets-colum .our-assets-subtitle{
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 0px;
}
.our-assets-section .our-assets-row .our-assets-colum .text{
    padding-top: 0px;
}
.our-assets-section .our-assets-row .our-assets-colum .text p{
    font-size: 14px;
    line-height: inherit;
    font-family: 'montserrat-medium';
}
.our-assets-section .our-assets-row .our-assets-colum .text ul{}
.our-assets-section .our-assets-row .our-assets-colum .text ul li{
    font-family: 'montserrat-medium';
    font-size: 14px;
    margin-bottom: 6px;
}
.our-assets-section .our-assets-row .our-assets-colum .text ul li a{}








/********************************  Team Section *****************************************************/

.team-section{}
.team-section .team-block{}
.team-section .team-block .inner-box{
    padding-top: 0px;
    margin: 10px 2%;
}

.team-section .team-block .inner-box .team-image-holder{
    padding: 54px 0px;
    background-position: center !important;
}


.team-section .team-block .inner-box .name{
    font-size: 16px;
    padding: 10px 0px 0px;
    line-height: initial;
}

.team-section .team-block .inner-box .designation{
    font-size: 14px;
    padding: 0px 0px 11px;
}











/******************************** Contact Us page SECTION *****************************************************/

.contact-section{
	padding-bottom: 0px;
}
.contact-section .contact-form-colum {padding: 80px 30px;}



.contact-section .contact-form-colum .address_ul{ 
}
.contact-section .contact-form-colum  .address_ul li{ 
}
.contact-section .contact-form-colum  .address_ul li span{ 
}
.contact-section .contact-form-colum  .address_ul li a{ 
}
.contact-section .contact-form-colum .address_ul li a:hover,
.contact-section .contact-form-colum .address_ul li a:focus{}






.contact-section .contact-form-colum .form{ 
}
.contact-section .contact-form-colum .form .form-group label{ 
}
.contact-section .contact-form-colum .form .form-group .form-control{ 
}

.contact-section .contact-form-colum .form .form-group  .btn-style-one{ 
}


.contact-section .contact-map-colum{ 
}
.contact-section .contact-map-colum iframe{width: 100%;height: 100%;}














/********************************  Project Tabs  *****************************************************/


.project-tabs-section{
    padding: 0px 0px;
}
.project-tabs-section .nav-tabs{}
.project-tabs-section .nav-tabs li{
    /* border-radius: 0px; */
    /* width: 100%; */
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #80C343;
    margin-right: 3%;
}
.project-tabs-section .nav-tabs li a{
    border-radius: 0px;
    padding: 11px 44px;
    font-family: 'montserrat-semibold';
    font-size: 15px;
}
.project-tabs-section .nav-tabs li a:hover, 
.project-tabs-section .nav-tabs li a.active{}

 




.project-tabs-section .tab-content{}


.project-tabs-section .tab-content .tab-pane{
    padding: 10px 0px 40px;
}
.project-tabs-section .tab-content .tab-pane p{
    font-family: 'montserrat-medium';
    font-size: 14px;
    line-height: 20px;
}
.project-tabs-section .tab-content .tab-pane ul{
    font-family: 'montserrat-medium';
    font-size: 16px;
    padding: 12px 13px 20px;
}
.project-tabs-section .tab-content .tab-pane ul li{
    padding: 0px 11px 10px 11px;
    font-size: 14px;
    line-height: initial;
    margin-bottom: 5px;
}


.project-tabs-section .tab-content .tab-pane ul li::before{}


.project-tabs-section .tab-content .tab-pane ul li a{}




table td, .table th {
    padding: 5px 12px !important;
}
.table .bold-colum{}








/******************************** Video SECTION *****************************************************/


.video-section{padding: 130px 0px 50px;}
.video-section .video-row{}
.video-section .video-row .video-colum {}
.video-section .video-row .video-colum .video-holder{}

.video-section .video-row .video-colum .video-holder .video-btn{}

 
.video-section .video-row .video-colum .video-holder img{}







/******************************** Video Page SECTION *****************************************************/


.video-gallary-section{}
.video-gallary-section .video-gallary-row{}
.video-gallary-section .video-gallary-row .video-gallary-colum{
    margin-top: 20px;
}

.video-gallary-section .video-gallary-row .video-gallary-colum:last-child{}

.video-gallary-section .video-gallary-row .video-gallary-image-holder{
    padding: 112px 0px;
    background-position: center !important;
}

.video-gallary-section .video-gallary-body{
    padding: 20px 8% 20px 7%;
}
.video-gallary-section .video-gallary-body .video-gallary-date{
    padding: 3px 7px;
    font-size: 12px;
}
.video-gallary-section .video-gallary-body .video-gallary-title{
    font-size: 18px;
    line-height: inherit;
    margin: 10px 0px 10px 10px;
    text-align: left;
}

.video-gallary-section .video-gallary-body .video-gallary-title::before{}
.video-gallary-section .video-gallary-body .video-gallary-text{}

.video-gallary-section .video-gallary-body .video-gallary-readmore-holder{}
.video-gallary-section .video-gallary-body .video-gallary-readmore-holder .read-more{}






/******************************** Video Page SECTION *****************************************************/

.gallery-section{}

.gallery-section .gallery-content-holder{
    position: relative;
}



.gallery-section .gallery-content-holder .gallery-content{padding: 0px 10px;max-height: 90%;overflow: scroll;}

.gallery-section .gallery-content-holder:hover .gallery-content,
.gallery-section .gallery-content-holder:focus .gallery-content{ }

.gallery-section .gallery-content-holder .gallery-content .gallery-title{font-size: 14px;padding-top: 6px;}
.gallery-section .gallery-content-holder .gallery-content .gallery-text{font-size: 12px;padding-top: 0px;line-height: 18px;}






/******************************** table-details SECTION *****************************************************/

.table-details-section{
    padding: 50px 15px;
}
.table-details-section .table-details-row{padding: 7px 0px;margin: 0px 3px;}
.table-details-section .table-details-row .text{font-size: 15px;padding-top: 9px;}
.table-details-section .table-details-row a{border: 1px solid;padding: 1px 6px;margin-top: 5px;font-size: 13px;display: inline-block;margin-bottom: 3px;} 



}


@media (max-width: 768px) {




	body {
		
	}
	
	
	
	
	h1,h2,h3,h4,h5,h6 {
		 
	}
	
	
	.h1, h1, h2,h3,.h2,.h3 {
		 
	}
	
	 
	
	input,button,select,textarea{
	
	}
	
	p,
	.text{
		 
	}
	
	.strike-through{
		 
	}
	
	.auto-container{
		 
	}
	
	 
	
	.page-wrapper{
		 
	}
	
	ul,li{
	 
	}
	
	.theme-btn{
	 
	}
	
	 
	 
	
	.curve-bg{ }
	.curve-bg::before{ }
	
	
	
	
	.section-padding{padding: 50px 0px;}
	.section-padding-small{ padding:30px 0px;}
	
	
	
	
	
	/*Sec Title*/
	.sec-title h2{
		font-size: 24px;
		padding-bottom: 10px;
		padding-top: 15px;
	}
	
	.sec-title h2:before{
		/* content:''; */
		left: 1px;
		top: 0;
		height: 5px;
	}
	
	
	
	
	
	.sec-title.white-title h2{
		color: #fff; 
	}
	
	.sec-title.white-title h2:before{
		background:url('../images/header-bar-white.svg');
	}
	
	
	
	.sec-title.big-title h2{font-size: 24px;padding-bottom: 10px;padding-top: 15px;}
	
	
	
	.sec-title h2.pretitle{
		font-size: 18px;
		padding-bottom: 6px;
	}
	.sec-title h2.pretitle:before{
		display: none;
	}
	
	/*Btn Style One*/
	
	.btn-style-one{
		padding: 7px 20px;
		color: #fff !important;
		text-align:center;
		font-size: 12px;
	}
	
	.btn-style-one:hover{
		 
	}
	
	/*Btn Style Two*/
	
	.btn-style-two{ 
	}
	
	.btn-style-two:hover{
	 
	}
	
	
	.video-holder{
	 
	}
	.video-holder iframe{
		 
	}
	
	
	/*Btn Style Three*/
	
	.btn-style-three{
		 
	}
	
	.btn-style-three:hover{
		 
	}
	
	/*Btn Style Four*/
	
	.btn-style-four{
		 	}
	
	.btn-style-four:hover{
		 
	}
	
	.theme_color{
		 
	}
	
	
	.read-more{
		 font-size: 14px;
		 border-bottom: 2px solid #80c343;
	}
	.read-more:hover,
	.read-more:focus{
	 
	}
	
	.preloader{
		 }
	
	
		 .preloader .svg_image{
			width: 70px;
			height: 70px;
			top: 45vh;
			left: 38%;
			}
	 
	
	
	.image-holder{
		padding: 0px 0px;
		border-radius: 5px;
	}
	.image-holder img{
		/* margin-top: 20px; */
		border-radius: 10px;
	}
	
	
	
		/******************************** Top Bar  SECTION *****************************************************/
		
		.top-bar{
			height: auto;
			background: #127CB6;
			color: #fff;
			text-align: center;
			padding: 10px 0px;
		}
		.top-bar p{margin-bottom: 0px;font-size: 12px;font-weight: 300;}
		.top-bar p a{
			font-size: 12px;
		}
		.top-bar p a:hover,
		.top-bar p a:focus{
			background: #fff;
			color: #137cb6;
		}
		
		
		
		/******************************** header  SECTION *****************************************************/
		.main-header{
			padding: 5px;
			top: 64px;
			position: absolute;
		}
		
		.main-header.bg-dark{
			background-color: #00000075!important;
		}
		.main-header .navbar-dark{
			padding: .5rem 0rem;
		}
		
		
		
		
		.main-header.bg-light{
			background-color: #ffffff!important;
			/* border-bottom: 1px solid #efefef; */
		}
		.main-header .navbar-light{}
		
		
		.main-header .logo{}
		.main-header .logo .header-logo{
			width: 122px;
		}
		
		
		
		.main-header ul{}
		.main-header ul li{}
		.main-header ul li a{
			font-size: 16px;
			/* border: 1px solid; */
			margin: 0px 20px;
			color: #fff !important;
			padding-right: 0px !important;
			padding-left: 0px !important;
			text-transform: uppercase;
			font-family: 'montserrat-medium';
		}
		.main-header ul li.active a{/* border-bottom: 2px solid #80c343; */color: #8AC343 !important;}
		.main-header ul li  a:hover,
		.main-header ul li  a:focus{/* border-bottom: 2px solid #80c343; */cursor: pointer;color: #8AC343 !important;}
		
		
		
		
		
		.main-header.bg-light  ul li a{
			color: #000 !important;
		}
		.main-header.bg-light  ul li.active a{color: #8AC343 !important;}
		.main-header.bg-light  ul li  a:hover,
		.main-header.bg-light  ul li  a:focus{color: #8AC343 !important;}
		
		
		
		
		.dropdown{}
		.dropdown .dropdown-menu{
			/* width: 100%; */
			padding: 11px 21px 10px 17px;
			border-radius: 0px;
		}
		.dropdown .dropdown-menu .dropdown-item{color: #000 !important;margin: 0px;border-bottom: 1px solid #efefef;font-size: 14px;}
		
		.dropdown .dropdown-menu .dropdown-item:hover,
		.dropdown .dropdown-menu .dropdown-item:focus{
			margin: 0px 0px;
			/* border-bottom: 1px solid #efefef; */
			background: transparent;
		}
		
		/******************************** Banner  SECTION *****************************************************/
		
		
		.carousel{ position: relative;}
		.btn-scroll{position: absolute;bottom: 13%;left: 74%;color:#fff;}
		
		.btn-scroll:hover,
		.btn-scroll:focus{
			transform: rotate(-90deg) scale(1.1);
			color: #fff;
			cursor: pointer;
			text-decoration: none;
		}
		.btn-scroll i{}
		
				
		 .carousel,
		 .carousel-item,
		 .active {
			 height: 100%;
			}
		 
		 .carousel-inner {
			 height: 500px;
			}
		 
		 .flex-center {
			 color: #fff;
		 }
		 
		 .carousel-caption {
			 height: 220px;
			 /* border: 1px solid; */
			 top: 30%;
			 text-align: left;
			 left: 12%;
			}
		
		.carousel-caption .banner-h1{
			line-height: initial;
			padding-bottom: 15px;
			padding-top: 0px;
			font-size: 22px;
			margin-bottom: 11px;
		}
		
		.carousel-caption .banner-h1::before{
			content:'';
		}
		
		.carousel-caption .banner-p{
			font-size: 20px;
		}	
	
	
	
	
	
	
	/******************************** Intro  SECTION *****************************************************/
	
	.intro-section{position:relative;z-index: 0;overflow: hidden;}
	.intro-section::before{position: absolute;content: '';background :url('../images/gray-bg.jpg');z-index: -1;width: 100%;height: 100%;top: 0;background-size: cover;right: -500px;opacity: 0.3;}
	.intro-section .image-holder img{
		margin-top: 0px;
	}
	.intro-section p{
		margin-bottom: 14px;
		font-family: 'montserrat-medium';
	}
	
	
	
	.intro-section .btn-style-one{ margin-top:20px;}
	
		
		




/******************************** Venture SECTION *****************************************************/

.venture-parent{padding: 0px;background-size: cover;}

.venture-section{
    padding: 50px 0px 0px;
}

.venture-section::before{height: 0px;width: 100%;bottom: -4%;opacity: 0;}

.venture-section .btn-style-one{
    margin-top: 5px;
}

.venture-section .venture-blocks-row{
    margin-top: 40px;
    margin-bottom: 40px;
}
.venture-section .venture-blocks-row .venture-blocks-colum{}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder{
    margin: 0px 0px 31px 0px;
    padding: 7px 0px;
    border: 3px solid #fff;
}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder .venture-blocks-title{
    font-size: 15px;
    line-height: initial;
    padding: 0px 0px 2px;
}
.venture-section .venture-blocks-row .venture-blocks-colum .venture-blocks-holder .venture-blocks-number{
    font-size: 25px;
    line-height: initial;
    padding: 4px 0px 6px;
}





/******************************** Bends SECTION *****************************************************/

.bends-before-section{ }
.bends-section{
    background-size: cover;
    padding: 20px 0px 150px;
}
	.bends-section::after{
    width: 100%;
    height: 70px;
    bottom: 0%;
}




/******************************** NEWS SECTION *****************************************************/

.news-section{}
.news-section .news-row{}
.news-section .news-row .news-colum{padding: 0px 6%;margin-bottom: 30px;}

.news-section .news-row .news-colum:last-child{ 
}

.news-section .news-row .news-image-holder{}

.news-section .news-body{padding: 23px 5% 20px 6%;border-bottom: 1px solid #cecbcb;}
.news-section .news-body .news-date{padding: 2px 7px;font-size: 13px;}
.news-section .news-body .news-title{font-size: 20px;margin: 10px 0px 10px 0px;}

.news-section .news-body .news-title::before{
	 width: 4px;
	 height: 140%;
	 left: -5%;
	 top: -16%;
	 }

.news-section .news-body .news-text{ 
}

.news-section .news-body .news-readmore-holder{ 
}
.news-section .news-body .news-readmore-holder .read-more{ 
}
.news-section .news-body .news-readmore-holder .read-more:hover,
.news-section .news-body .news-readmore-holder .read-more:focus{}


	


/******************************** Partner *****************************************************/

.partner-section{
    overflow: hidden;
}
.partner-section .sec-title{}
.partner-section .sec-title h2{font-size: 24px;padding-bottom: 10px;padding-top: 15px;}

.partner-section .partner-row{ }

.partner-section .partner-row .patner-colum{ }




.partner-section .partner-row .patner-colum .patner-logo-holder{ }


	
.partner-section .partner-row .patner-colum:last-child .patner-logo-holder { }



.partner-section .partner-row .patner-colum:last-child .patner-logo-holder::before{ }
.partner-section .partner-row .patner-colum:last-child .patner-logo-holder::after{ }


.partner-section .partner-row .patner-colum:first-child .patner-logo-holder::before{}
.partner-section .partner-row .patner-colum:first-child .patner-logo-holder::after{ }

	.partner-section .partner-row .patner-colum .patner-logo-holder .before{ }
	


	.partner-section .partner-row .patner-colum .patner-logo-holder .after{ }

.partner-section .partner-row .patner-colum .patner-logo-holder img{ }







/******************************** Footer *****************************************************/

.main-footer{
	padding: 50px 0px 0px;
}
.main-footer .footer-colum{}
.main-footer .footer-colum .footer-colum-title{margin-top: 0px;}

.main-footer .footer-colum .footer-logo{}
.main-footer .footer-colum .footer-logo img{ 
}


.main-footer .footer-colum .address_ul{padding-right: 0px;}
.main-footer .footer-colum .address_ul li{ 
}
.main-footer .footer-colum .address_ul li span{ 
}
.main-footer .footer-colum .address_ul li a{ 
}


.main-footer .footer-colum .simple-list-ul{margin-top: 8px;}
.main-footer .footer-colum .simple-list-ul li{display: inline-block;/* border-right: 1px solid; *//* padding-right: 10px; */}
.main-footer .footer-colum .simple-list-ul li a{border-right: 1px solid;padding-right: 10px;} 



.main-footer .footer-colum .simple-list-ul li:last-child a{ border-right: 0px solid;}


.main-footer .footer-colum .social-link{margin-top: 10px;}
.main-footer .footer-colum .social-link ul{
}
.main-footer .footer-colum .social-link ul li{}

.main-footer .footer-colum .social-link ul li a{}
.main-footer .footer-colum .social-link ul li a i{} 



.main-footer .copyright{
    margin-top: 14px;
} 
.main-footer .copyright p{
    padding: 12px 0px 0px;
    font-size: 14px;
    line-height: 18px;
}
.main-footer .copyright p a{
} 







/******************************** Inner Page HEader*****************************************************/

.inner-page{padding: 140px 0px 70px;}

.inner-page::before
{ }

.inner-page.inner-page-white{ }
.inner-page.inner-page-white::before{ }


/*Sec Title*/
.inner-page .sec-title h2{ }

.inner-page .sec-title h2:before{ }


.inner-page .sec-title.big-title h2{font-size: 28px;}

.inner-page .sec-title h2.pretitle{font-size: 18px;padding-bottom: 0px;}
.inner-page .sec-title h2.pretitle:before{ }







/********************************  Paralex Section *****************************************************/

.paralex-image-section{
    padding: 0px;
    margin-bottom: 38%;
}

.paralex-image-section .paralex-block{
    padding: 0px 0px;
    /* background-size: contain !important; */
    min-height: 270px;
    background-position: center !important;
}


.paralex-image-section .paralex-block .sec-title{
    left: 0;
    background: #2aa9d5;
    padding: 20px 30px;
    width: 93%;
    bottom: -390px;
}
.paralex-image-section .paralex-block .sec-title h2{
    padding-bottom: 4px;
    padding-top: 2px;
    font-size: 18px;
}
.paralex-image-section .paralex-block .sec-title p{
    font-size: 18px;
}





/********************************  Our Assets Section *****************************************************/


.our-assets-section {}
.our-assets-section .our-assets-row{}
.our-assets-section .our-assets-row .our-assets-colum{}


.our-assets-section .our-assets-row .our-assets-colum .sec-title{}
.our-assets-section .our-assets-row .our-assets-colum .sec-title h2{
    padding-top: 15px;
    /* margin-bottom: 5px; */
}

.our-assets-section .our-assets-row .our-assets-colum .our-assets-subtitle{
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 0px;
}
.our-assets-section .our-assets-row .our-assets-colum .text{
    padding-top: 0px;
}
.our-assets-section .our-assets-row .our-assets-colum .text p{
    font-size: 14px;
    line-height: inherit;
    font-family: 'montserrat-medium';
}
.our-assets-section .our-assets-row .our-assets-colum .text ul{}
.our-assets-section .our-assets-row .our-assets-colum .text ul li{
    font-family: 'montserrat-medium';
    font-size: 14px;
    margin-bottom: 6px;
}
.our-assets-section .our-assets-row .our-assets-colum .text ul li a{}








/********************************  Team Section *****************************************************/

.team-section{}
.team-section .team-block{}
.team-section .team-block .inner-box{
    padding-top: 20px;
    /* background: #eef0ef; */
    margin: 10px 10%;
}

.team-section .team-block .inner-box .team-image-holder{
    padding: 134px 0px;
    /* margin-bottom: 10px; */
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.team-section .team-block .inner-box .name{
    font-size: 16px;
    padding: 10px 0px 0px;
}

.team-section .team-block .inner-box .designation{
    font-size: 14px;
}











/******************************** Contact Us page SECTION *****************************************************/

.contact-section{
	
}
.contact-section .contact-form-colum {padding: 80px 30px;}



.contact-section .contact-form-colum .address_ul{ 
}
.contact-section .contact-form-colum  .address_ul li{ 
}
.contact-section .contact-form-colum  .address_ul li span{ 
}
.contact-section .contact-form-colum  .address_ul li a{ 
}
.contact-section .contact-form-colum .address_ul li a:hover,
.contact-section .contact-form-colum .address_ul li a:focus{}






.contact-section .contact-form-colum .form{ 
}
.contact-section .contact-form-colum .form .form-group label{ 
}
.contact-section .contact-form-colum .form .form-group .form-control{ 
}

.contact-section .contact-form-colum .form .form-group  .btn-style-one{ 
}


.contact-section .contact-map-colum{ 
}
.contact-section .contact-map-colum iframe{width: 100%;height: 140%;}














/********************************  Project Tabs  *****************************************************/


.project-tabs-section{
    padding: 0px 0px;
}
.project-tabs-section .nav-tabs{}
.project-tabs-section .nav-tabs li{
    border-radius: 0px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #80C343;
}
.project-tabs-section .nav-tabs li a{
    border-radius: 0px;
    padding: 12px 65px;
    font-family: 'montserrat-semibold';
}
.project-tabs-section .nav-tabs li a:hover, 
.project-tabs-section .nav-tabs li a.active{}

 




.project-tabs-section .tab-content{}


.project-tabs-section .tab-content .tab-pane{
    padding: 10px 0px 40px;
}
.project-tabs-section .tab-content .tab-pane p{
    font-family: 'montserrat-medium';
    font-size: 15px;
}
.project-tabs-section .tab-content .tab-pane ul{
    font-family: 'montserrat-medium';
    font-size: 16px;
    padding: 12px 13px 20px;
}
.project-tabs-section .tab-content .tab-pane ul li{
    padding: 0px 15px 14px 15px;
}


.project-tabs-section .tab-content .tab-pane ul li::before{}


.project-tabs-section .tab-content .tab-pane ul li a{}




table td, .table th {}
.table .bold-colum{}








/******************************** Video SECTION *****************************************************/


.video-section{padding: 130px 0px 50px;}
.video-section .video-row{}
.video-section .video-row .video-colum {}
.video-section .video-row .video-colum .video-holder{}

.video-section .video-row .video-colum .video-holder .video-btn{}

 
.video-section .video-row .video-colum .video-holder img{}







/******************************** Video Page SECTION *****************************************************/


.video-gallary-section{}
.video-gallary-section .video-gallary-row{}
.video-gallary-section .video-gallary-row .video-gallary-colum{
    margin-top: 20px;
}

.video-gallary-section .video-gallary-row .video-gallary-colum:last-child{}

.video-gallary-section .video-gallary-row .video-gallary-image-holder{
    padding: 112px 0px;
    background-position: center !important;
}

.video-gallary-section .video-gallary-body{
    padding: 20px 8% 20px 7%;
}
.video-gallary-section .video-gallary-body .video-gallary-date{
    padding: 3px 7px;
    font-size: 12px;
}
.video-gallary-section .video-gallary-body .video-gallary-title{
    font-size: 18px;
    line-height: inherit;
    margin: 10px 0px 10px 10px;
}

.video-gallary-section .video-gallary-body .video-gallary-title::before{}
.video-gallary-section .video-gallary-body .video-gallary-text{}

.video-gallary-section .video-gallary-body .video-gallary-readmore-holder{}
.video-gallary-section .video-gallary-body .video-gallary-readmore-holder .read-more{}






/******************************** Video Page SECTION *****************************************************/

.gallery-section{}

.gallery-section .gallery-content-holder{
	position: relative;

}



.gallery-section .gallery-content-holder .gallery-content{padding: 0px 10px;max-height: 90%;overflow: scroll;}

.gallery-section .gallery-content-holder:hover .gallery-content,
.gallery-section .gallery-content-holder:focus .gallery-content{ }

.gallery-section .gallery-content-holder .gallery-content .gallery-title{font-size: 14px;padding-top: 6px;}
.gallery-section .gallery-content-holder .gallery-content .gallery-text{font-size: 12px;padding-top: 0px;line-height: 18px;}






/******************************** table-details SECTION *****************************************************/

.table-details-section{
    padding: 50px 15px;
}
.table-details-section .table-details-row{padding: 9px 0px;}
.table-details-section .table-details-row .text{font-size: 16px;}
.table-details-section .table-details-row a{border: 1px solid;padding: 1px 6px;margin-top: 4px;font-size: 14px;display: inline-block;margin-bottom: 10px;} 




		
		} 